%div{class: "content"}
  %div{class: "content-header"}
    %div{class: "content-header__edit-button"} Edit
    %p{class: "content-header__group"} test-group
    %p{class: "content-header__member"} member
  %div{class: "chatspace"}
    %div{class: "chatspace-post"}
      %div{class: "chatspace-post__user"}test-user
      %p{class: "chatspace-post__date"}2019/03/20(Wed) 20:11:23
      %p{class: "chatspace-post__comment"}おはよう

  %form{class: "form-box"}
    %input{class: "form-box__text-space",type: "text", placeholder: "type a message", name: "message", id: "image"}
    %label{id: "image", class: "form-box__image-icon"}
      =fa_icon "image", class: 'form-box__image-icon'
    %input{class: "form-box__send-button", type: "submit", value: "SENT", name: "submit"}
%div{class: "sidebar"}
  %div{class: "sidebar-header"}
    test-user
    %div{class: "sidebar-icon"}
      =fa_icon "pencil-square-o", class: 'sidebar-icon'
      %i{class: "sidebar-icon fa fa-cog"}
  %div{class: "group-block"}
    %p{class: "group-block__name"} test-group
    %p{class: "group-block__latest-message"} さようなら
  %div{class: "group-block"}
    %p{class: "group-block__name"} sample-group
    %p{class: "group-block__latest-message"} hello!
  %div{class: "group-block"}
    %p{class: "group-block__name"} example
    %p{class: "group-block__latest-message"} まだメッセージはありません
