.content{
  float: right;
  width: calc(100vw - 300px);
  height: 100vh;
  .content__header{
    height: 100px;
    .header__group{
      padding: 34px 0 15px 40px;
      font-size: 20px;
      color: #333333;
    }
    .header__member{
      padding: 0 0 0 40px;
      font-size: 12px;
      color: #999999;

    }
    .header__edit-button{
      float: right;
      padding: 0 20px;
      margin: 30px 20px 0 0;
      height: 40px;
      border: 1px;
      border-style: solid;
      border-color: $header-color;
      color: $header-color;
      line-height: 40px;
    }
  }

  .chat-space{
    background-color: #fafafa;
    height: calc(100vh - 200px);

    .post{
      padding: 46px 0 40px 40px;
      .post-user{
        float:left;
        padding-right: 10px;
        @include user-name();
        color: #999999;
      }
      .date{
        font-size: 12px;
        color: #999999;
      }
      .comment{
        padding-top: 10px;
      }
    }
  }

  .form-box{
      width: calc(100vw - 300px);
      height: 80px;
      background-color: #ddd;
      bottom: 0;
      padding-top: 20px;
      position: relative;

      .text-space{
        position: absolute;
        left: 40px;
        background-color: white;
        color: #434a54;
        line-height: 50px;
        display: inline-block;
        padding-left: 10px;
        width: calc(100vw - 500px);
      }

      .image-move{
        position: absolute;
        top: 35px;
        right: 160px;
        display: inline-block;
        }


      .send-button{
        margin-right: 40px;
        width: 90px;
        line-height: 50px;
        text-align: center;
        background-color: $header-color;
        color: white;
        float: right;
        display: inline-block;
       }
  }
}


.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;

  .sidebar-header {
    height: 100px;
    background-color: #253141;
    color: white;
    @include user-name();
    line-height: 100px;
    padding: 0 0 0 20px;
    .sidebar-icon{
      float: right;
      display: inline-block;
      margin-right: 20px;
   }
  }

  .group-block {
    height:31px;
    box-sizing: content-box;
    padding: 20px 20px 40px 20px;


    .group-name {
      padding: 0 0 5px 0;
      font-size: 15px;
      font-weight: bold;
      color: #ffffff;
    }
    .latest-message {
      padding: 0 0 5px 0;
      font-size: 11px;
      font-weight: bold;
      color: #ffffff;
    }
  }
}
