!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header グループを作成しました
    %div{class: "content_main"}
      %div{class: "content_header"}
        %div{class: "edit_button"} Edit
        %p{class: "content_header_gropu"} test-group
        %p{class: "content_header_member"} member
      %div{class: "chat_space"}
    %div{class: "sidebar"}
      %div{class: "user_name"} test-user
      %div{class: "group_block"}
        %p{class: "group_name"} test-group
        %p{class: "latest_message"} さようなら
      %div{class: "group_block"}
        %p{class: "group_name"} sample-group
        %p{class: "latest_message"} hello!
      %div{class: "group_block"}
        %p{class: "group_name"} example
        %p{class: "latest_message"} まだメッセージはありません
    %footer
      %ul{class: "text_space"}
        %li{class: "pic_image"}
        %li{class: "send_button"}Send


